body {
    background-color: lightblue;
}

main{

}

.cool-btn {
    background-color: #4CAF50; /* Color de fondo */

    margin: 5px; /* Margen alrededor del botón */
    border: none; /* Bordes */
    border-radius: 7px;
    padding: 7px; /*Espaciado alrededor del texto */
    color: white; /* Color del texto */
    
    text-align: center; /* Centrar el texto */

    display: inline-block;
    font-size: 16px; /* Tamaño del texto */
   
    cursor: pointer; /* Cambiar el cursor a mano al pasar sobre el botón */
    transition-duration: 0.6s;  /*Duración de la transición */

  } .cool-btn:hover {
    background-color: white; /* Color de fondo al pasar el ratón */
    color: black; /* Color del texto al pasar el ratón */
  }


footer {
    z-index: 1;
    position: fixed;
    bottom: 0;
    left:0;
    width: 100%;
    height:5vh;

    background-color: #000;
    color: #fff;
}footer p {
    z-index: 2;
    position: fixed;
    width: 100%;
    text-align: center;
    margin: 1.5vh 1.5vh 0 0;
    font-size: 2vh;
}

/* Control de dispositivos verticales */
@media (orientation:portrait){
}