
@font-face {
    font-family: Jersey;
    src: url(./Jersey10-Regular.ttf);
}

body {
    background-color: #7c7c7c;
    font-family: Jersey;
}


.canvas {
    background-color: #181818;
    width: 25%;
    margin: 0% auto;
    padding: 1.5%;
    border: solid;
    border-color: black;
    border-radius: 5%;
    user-select: none;
    display: grid;
    justify-content: center;
}

.display {
    margin:5px;
    border-radius: 3%;
    background-color: #345844;
    border: solid;
    border-color: rgb(0, 0, 0);
    font-size: 30px;
}

.key {
    border: none;
    display: flex;
    flex-wrap: wrap;
    margin: 1%;
    padding: auto;
    justify-content: center;    
}

.buttons{
    background-color: #575757;
    margin: 0% ;
    padding: 0%;
}

.row {
    padding: 0%;
    margin: 0%;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}


.button {
    background-color: #414141;
    
    border-radius: 20%;
    border-style: outset;
    border-color: rgb(0, 0, 0);
    border-width: 3px;

    width: 25%;
    float: left;
    text-align: center;

    margin: 1.5%;
    
    font-size: 17px;

    cursor: pointer;

}.button.pressed{
    border-style: inset;
}

.digit{
    margin: 1%;
    margin-left: 5%;
    margin-right: 2%;
    border: solid;

    width: 10%;
    float: left;
    text-align: center;
}

.chrono{
    display: flex;
    flex-wrap: wrap;
    border:solid;
    margin: 10%;
    padding: 0%;
    justify-content: center;
}

.match{
    color: green;
    transition: 0.2s;
}

.demimatch{
    color: yellow;
    transition: 0.2s;
}

.mistake{
    color: red;
    transition: 0.2s;
}

.selected{
    filter: brightness(100);
    background-color: rgba(151, 151, 151, 0.2);
    transition: 0.5s;
}


#MMButton {
    display: none;
}

#chrono {
    margin: 0;
    padding: 0;
}

.colors {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 768px) {
   .canvas{
        width: 100%;
    }
   .digit{
        width: 15%;
    }
   .chrono{
        margin: 5%;
    }
    
}