/* https://www.w3schools.com/howto/howto_css_two_columns.asp */
/* https://developer.mozilla.org/es/docs/Web/CSS/box-sizing */
/* Así definimos el comportamiento de caja para todos los elementos */
* {
    box-sizing: border-box;
  }

  body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 5%;
    background-image: url('Images/background.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }
  
/* Crear columnas de ancho diferente que se colocan una a continuación de la otra */
.columna {
float: left;
padding: 10px;
min-height: 500px;
}

.izquierda {

width: 35%;
}

.derecha {
width: 65%;
}

/* Clear floats despues de las columnas para eliminar la superposición */
.filla:after {
content: "";
display: table;
clear: both;
}

#c1 {
    background-color:rgba(0, 0, 0, 0.25);
}

#c2 {
    background-color:rgba(0, 0, 0, 0.15);
}

/* estilos para imágenes https://www.w3schools.com/css/css3_images.asp */
/* posicionamiento de imágenes https://www.w3schools.com/css/css_positioning.asp */



.iresponsive {

    float: left;
    width: 50%;
  }


  .canvas{

    position: fixed;
    top: 5px;
    left: 10px;
    bottom: 5px;
    right: 10px;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background: rgba(0, 20, 50, 0.4);
    padding: 20px;
    border-radius: 10px;

}

.easter_egg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('Images/_secret.jpeg'); /* Ruta de la imagen secreta */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: none; /* Oculta el fondo secreto inicialmente */

    
  }

.show-secret {
    background-image: url('Images/_secret.jpeg');; /* Muestra el fondo secreto cuando se aplica esta clase */  
}



li.link {
    color: rgb(238, 221, 195);
    cursor: pointer;
    
}

li.underline {
    text-decoration: underline;
}

#python {
  margin: 0;
  background-image: url('Images/python.jpg');
  background-size: contain;
  width: 60%;
}

.secret{
  position: fixed;
  bottom: 0;
  left: 0;
  visibility: hidden;
  
}

.redemption-text {
  display: none;
}
.secret-text {
  display: none;
}
.normal-text {
  display: block;
}


/* Responsive layout - cuando el ancho de pantalla es menor a 600px, muestra las columnas apiladas. */
/* Así conseguimos que el contenido se vea bien en dispositvos móviles */

@media screen and (max-width: 600px) {
    .columna {
      width: 100%;
    }
    #python {
      width: 100%;
    }  

    .iresponsive {
        width: 100%;
    }
}

@media screen and (min-width: 4000px) {
    .secret{
      visibility: visible;
      }
}

/* Más sobre diseño web responsive https://www.w3schools.com/css/css_rwd_intro.asp */