body {
    margin: 0;
    padding: 5%;
    background-image: url('background.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }

.container{
    color: white;
}



.canvas{

    position: fixed;
    top: 5px;
    left: 10px;
    bottom: 5px;
    right: 10px;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background: rgba(0, 20, 50, 0.4);
    padding: 20px;
    border-radius: 10px;

}

.easter_egg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('_secret.jpeg'); /* Ruta de la imagen secreta */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: none; /* Oculta el fondo secreto inicialmente */

    
  }

.show-secret {
    background-image: url('_secret.jpeg');; /* Muestra el fondo secreto cuando se aplica esta clase */  
}



li.link {
    color: blue;
    cursor: pointer;
    font-family: 'Times New Roman', sans-serif;
}

li.underline {
    text-decoration: underline;
}