#canvas {
    background-image: url('BackGround0.jpg');
    background-size: 100vw 100vh ;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 5px;

    overflow: hidden;
    position: absolute;
            top: 0;
            left: 0;
            width: 100vw; /* Esto hace que el ancho sea igual al ancho de la ventana del navegador */
            height: 100vh; /* Esto hace que la altura sea igual a la altura de la ventana del navegador */
            z-index: -1;

}

.BlueBird {
    display: none;
}

.GreenBird {
    display: none;
}

#Stone {
    display: none;
}

#TimeScore{
    display: none;
}
